day14/day14.md
day14/ex1.txt
day14/output.txt
day14/puzzle.txt
day15/day15.md
day15/ex1Map.txt
day15/ex1Moves.txt
day15/ex2Map.txt
day15/ex2Moves.txt
day15/output.txt
day15/puzzleMap.txt
day15/puzzleMoves.txt
day16/day16.md
day16/ex1.txt
day16/ex2.txt
day16/ex3.txt
day16/output.txt
day16/puzzle.txt
day17/day17.md
day17/ex1Ins.txt
day17/ex1Reg.txt
day17/ex2Ins.txt
day17/ex2Reg.txt
day17/puzzleIns.txt
day17/puzzleReg.txt
day18/day18.md
day18/ex1.txt
day18/output.txt
day18/output1.txt
day18/puzzle.txt
day19/day19.md
day19/ex1Designs.txt
day19/ex1Towels.txt
day19/ex2Designs.txt
day19/ex2Towels.txt
day19/output.txt
day19/puzzleDesigns.txt
day19/puzzleTowels.txt
day19/test.txt
day20/day20.md
day20/ex1.txt
day20/puzzle.txt
day22/day22.md
day22/ex1_output.txt
day22/ex1.txt
day22/output.txt
day22/output1.txt
day22/puzzle.txt
day23/day23.md
day23/ex1.txt
day23/output.txt
day23/puzzle.txt
day1 - Comparing Lists/day1.md
day1 - Comparing Lists/ex1.txt
day1 - Comparing Lists/puzzle.txt
day1 - Historian Hysteria/day1.md
day1 - Historian Hysteria/ex1.txt
day1 - Historian Hysteria/puzzle.txt
day2 - Red-Nosed Reports/day2.md
day2 - Red-Nosed Reports/ex1.txt
day2 - Red-Nosed Reports/output.txt
day2 - Red-Nosed Reports/puzzle.txt
day3/ex1.txt
day3/ex2.txt
day3/puzzle.txt
day3/day3.md
day2 - Red Nosed Reports/ex1.txt
day2 - Red Nosed Reports/output.txt
day2 - Red Nosed Reports/puzzle.txt
day3 - Mull It Over/ex1.txt
day3 - Mull It Over/ex2.txt
day3 - Mull It Over/puzzle.txt
day4 - Ceres Search/ex1.txt
day4 - Ceres Search/puzzle.txt
day3 - Mull It Over/day3.md
day4 - Ceres Search/day4.md
day5 - Print Queue/ex1.txt
day5 - Print Queue/output.txt
day5 - Print Queue/puzzle.txt
day5 - Print Queue/day5.md
day6 - Guard Gallivant/day6.md
day6 - Guard Gallivant/ex1.txt
day6 - Guard Gallivant/output.txt
day6 - Guard Gallivant/puzzle.txt
day7 - Bridge Repair/day7.md
day7 - Bridge Repair/ex1.txt
day7 - Bridge Repair/puzzle.txt
day8 - Resonant Collinearity/ex1.txt
day8 - Resonant Collinearity/day8.md
day8 - Resonant Collinearity/ex2.txt
day8 - Resonant Collinearity/output.txt
day8 - Resonant Collinearity/puzzle.txt
day9 - Disk Fragmenter/day9.md
day9 - Disk Fragmenter/ex1.txt
day9 - Disk Fragmenter/output.txt
day9 - Disk Fragmenter/puzzle.txt
day10/day10.md
day10/ex1.txt
day10/ex2.txt
day10/ex3.txt
day10/puzzle.txt
day10 - Hoof It/day10.md
day10 - Hoof It/ex1.txt
day10 - Hoof It/ex2.txt
day10 - Hoof It/ex3.txt
day10 - Hoof It/puzzle.txt
day11 - Plutonian Pebbles/day11.md
day11 - Plutonian Pebbles/ex1.txt
day11 - Plutonian Pebbles/output.txt
day11 - Plutonian Pebbles/puzzle.txt
2025/P1 - Secret Entrance/input.txt
2025/P2 - Gift Shop/input.txt
2025/P4 - Printing Department/input.txt
2025/P4 - Printing Department/example.txt
